.form-container {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding: 1rem;
  background-color: rgb(0, 255, 255);
}

.form-label {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-shadow: 2px 2px 3px black;
  margin: 0;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 5px;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
  border: none;
}



.button-container {
  margin-bottom: 1rem;
  width: 100%;
}

.submit-btn {
  color: white;
  font-weight: bolder;
  width: 80%;
  padding: 8px;
  border: none;
  background-color: rgb(30, 184, 30);
}

.clear-btn {
  color: white;
  font-weight: bolder;
  width: 80%;
  padding: 8px;
  border: none;
  background-color: red;
}

button:hover {
  background-color: black;
}