.post-container {
  width: 80%;
  margin: 1rem auto;
  box-shadow: 2px 2px 5px black;
  background-color: white;
  border-radius: 5px;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.creater-age {
  text-align: left;
  margin: 10px;
}

.post-creator {
  margin: 0;
  font-size: 1.5rem;
}

.post-age {
  margin: 0;
  color: gray;
}

hr {
  margin: 0;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.post-title {
  font-size: 2rem;
}

.post-message {
  margin: 0;
  margin-bottom: 2rem;
}

.tags {
  font-size: 1rem;
  color: gray;
  font-weight: lighter;
}

.btns {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: none;
  padding: 1rem;
}

.more-btn {
  margin-right: 20px;
  color: black;
  cursor: pointer;
}

.thumbs-up {
  color: blue;
  cursor: pointer;
  margin-right: 5px;
}

.delete {
  color: red;
  cursor: pointer;
}