.post-container {
  width: 80vw;
  max-width: 280px;
  height: fit-content;
  margin-top: 2rem;
  box-shadow: 5px 5px 10px black;
  background-color: white;
  border-radius: 15px;
}

.post-header {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../../../images/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(34, 34, 34);
  border-radius: 15px 15px 0 0;
}



.post-body {
  height: fit-content;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
  
}

.creater-age {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.post-creator {
  margin: 20px;
  font-size: 1.5rem;
  font-family: serif;
  text-shadow: 2px 2px 3px black;
}

.post-age {
  margin: 5px;
}

hr {
  margin: 0;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.post-title {
  font-size: 2rem;
  font-family: cursive;
  word-wrap: break-word;
  margin-top: 0;
  border-bottom: 1px solid black;
}

.post-message {
  margin: 0;
  margin-bottom: 2rem;
  word-wrap: break-word;
}

.tags {
  font-size: 1rem;
  color: gray;
  font-weight: lighter;
  word-wrap: break-word;
}

.btns {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: none;
  padding: 1rem;
}

.edit-btn {
  margin: 1.5rem;
  color: white;
  cursor: pointer;
}

.thumbs-up {
  color: blue;
  cursor: pointer;
  margin-right: 5px;
}

.delete {
  color: red;
  cursor: pointer;
}